@model Produkter

@using Microsoft.AspNetCore.Identity

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
       
    </div>
</div>
<div class="pull-left">
    <!--

    -->
    

    <div>
        <p>
            <a asp-controller="NyProdut" asp-action="NyProdukt" asp-route-ProduktId="@Model.ProduktId"><h2>Lägga till ny produkt</h2></a>

        </p>
    </div>
</div>
