@model ProdukterListViewModel

    <h1>@Model.CurrentCategory</h1>

    <div>
        @foreach (var Produkter in Model.Produkter)
        {<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Produkter.ImageThumbnailUrl" alt="">
        <div class="caption">
            <h3 class="pull-right">@Produkter.Price.ToString("c")</h3>
            <h3>
                <a>@Produkter.Name</a>
            </h3>
            <p>@Produkter.ShortDescription</p>
         </div>
       </div>
    </div>
        }
    </div>
